<div class="container">
    <div class="shop-banner">
        <h1>SHOP</h1>
    </div>
    
    <div class="shop">
     <div class="item">
         <div class="title">FRAMES</div>
         <div class="icon"><img src="../../../assets/images/bicycle.png" alt=""></div>
     </div>
      <div class="item2"></div>
      <div class="item3">3</div>  
      <div class="item4">4</div>
      <div class="item5">5</div>
      <div class="item6">6</div>
      <div class="item7">7</div>
      <div class="item8">8</div>  
    </div>
</div>

